.home-div{
    font-size: medium;
    color: white;
    margin-top: 50px;
    align-items: center;
    
}
.image{
    width:250px;
    height: 250px;
    padding-top: 10px;
    border-radius: 3rem;
}
.PRICE{
    float: left;
    padding-top: 30px;
   position: relative;
   top: 30px;
}
.price2{
    float: right;
    padding-right: 30px;
    font-size: 50px;
}
.box-wrapper{
    height: 500px;
    width: 30%;
    align-items: center;
    background: rgb(19, 18, 18);
    height: relative;
    border-radius: 1rem;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


    
